{% extends "base.html" %}
{% block title %}Feature Statistics{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="flex-Container">

    <!-- Alert Box -->
    {% if alert %}
    <div class="Alert-Container">
        <h2 class="alert-text">Alert</h2>
        <ul>
            {% if alert["Missing Features"] %}
            {% for feature, details in alert["Missing Features"].items() %}
            <li>
                <span class="feature-name">{{ feature }}</span> has {{ details["count"] }} ({{ details["percentage"]
                }}%)
                <span class="alert-text">missing values</span>
            </li>
            {% endfor %}
            {% endif %}

            {% if alert["Zero Features"] %}
            {% for feature, details in alert["Zero Features"].items() %}
            <li>
                <span class="feature-name">{{ feature }}</span> has {{ details["count"] }} ({{ details["percentage"]
                }}%)
                <span class="alert-text">zeros</span>
            </li>
            {% endfor %}
            {% endif %}

            {% if alert["Unique Features"] %}
            {% for feature in alert["Unique Features"] %}
            <li>
                <span class="feature-name">{{ feature }}</span> has
                <span class="alert-text">unique values</span>
            </li>
            {% endfor %}
            {% endif %}

            {% if alert["Duplicate Rows"] %}
            <li>
                Dataset has {{ alert["Duplicate Rows"]["count"] }} ({{ alert["Duplicate Rows"]["percentage"]}}%)
                <span class="alert-text">duplicate observations</span>
            </li>
            {% endif %}

            {% if alert["Imbalanced Features"] %}
            {% for feature, details in alert["Imbalanced Features"].items() %}
            <li>
                <span class="feature-name">{{ feature }}</span> is
                <span class="alert-text">highly imbalanced</span> ({{ details["count"] }} instances, {{
                details["percentage"]}}%)
            </li>
            {% endfor %}
            {% endif %}

            {% if alert["Highly Skewed Features"] %}
            {% for feature in alert["Highly Skewed Features"] %}
            <li>
                <span class="feature-name">{{ feature }}</span> is
                <span class="alert-text">highly skewed</span>
            </li>
            {% endfor %}
            {% endif %}

            {% if alert["Highly Correlated Features"] %}
            {% for pair, value in alert["Highly Correlated Features"].items() %}
            <li>
                <span class="feature-name">{{ pair.split(" & ")[0] }}</span> is
                <span class="alert-text">highly correlated</span> with
                <span class="feature-name">{{ pair.split(" &")[1] }}</span>
            </li>
            {% endfor %}
            {% endif %}

            {% if alert["Uniform Features"] %}
            {% for feature in alert["Uniform Features"] %}
            <li>
                <span class="feature-name">{{ feature }}</span> has almost
                <span class="alert-text">uniform</span>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    {% endif %}

    <!-- Dataset Statistics UI -->
    {% if dataset_statistics %}
    <div class="Dataset-Container">
        <h2>Dataset Overview</h2>
        <ul>
            <li>Number of Observations: <strong>{{ dataset_statistics['num_rows'] }}</strong></li>
            <li>Number of Features: <strong>{{ dataset_statistics['num_cols'] }}</strong></li>
            <li>Number of Missing cells: <strong>{{ dataset_statistics['missing_cells'] }}</strong></li>
            <li>Number of Duplicate Observations: <strong>{{ dataset_statistics['duplicate_rows'] }}</strong></li>
            <li>Total size in memory: <strong>{{ dataset_statistics['memory_size'] }}MB</strong></li>
        </ul>
        <div class="button-container">
            <a href="{{ url_for('home') }}">
                <button class="proceed-button">Dataset Preview</button>
            </a>
        </div>
    </div>
    {% endif %}

</div>

<div class="flex-Container">

    <!-- Drop Feature UI -->
    {% if features_dropped %}
    <div class="Drop-Container">
        <h2 style="color: #e74c3c">Dropped Meaningless Features</h2>
        <ul>
            {% for column in features_dropped %}
            <li>{{ column }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <!-- Feature Classification UI -->
    {% if feature_groups %}
    <div class="Group-Container">
        <h2>Feature Classification</h2>
        <div class="Grid-Container">
            {% for group, columns in feature_groups.items() %}
            {% if columns %}
            <div class="group">
                <h4>{{ group }}</h4>
                <ul>
                    {% for column in columns %}
                    <li>{{ column }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>

<!-- Missing Value Distribution -->
{% if missing_count and missing_barchart %}
<div class="missing-data-container">

    <div class="missing-table">
        <h2>Missing Data</h2>
        <table border="1" class="general_table">
            <tr>
                <th>Feature</th>
                <th>Missing Count</th>
            </tr>
            {% for data in missing_count %}
            <tr>
                <td>{{ data["feature"] }}</td>
                <td>{{ data["missing_value"] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="missing-chart">
        <div class="graph-container" id="missing-value-container">
            {% for plot in missing_barchart %}
            <img src="{{ url_for('static', filename='images/' ~ plot ) }}" alt="Missing Value Distribution">
            {% endfor %}
        </div>
    </div>

</div>
{% endif %}

<!-- Numerical Statistics UI -->
{% if numeric_statistics %}
<div class="SubContainer">
    <h2>Numerical Features Statistics</h2>
    <div class="table-wrapper">
        <table border="1" class="scrollable-table">
            <tr>
                <th class="sticky-col">Feature</th>
                <th>Minimum</th>
                <th>Maximum</th>
                <th>Q1(First Quartile)</th>
                <th>Median</th>
                <th>Q3(Third Quartile)</th>
                <th>Mean</th>
                <th>Standard Deviation</th>
                <th>Variance</th>
                <th>Extreme Values</th>
            </tr>
            {% for stat in numeric_statistics %}
            <tr>
                <td class="sticky-col">{{ stat["var_name"] }}</td>
                <td>{{ stat["minimum"] }}</td>
                <td>{{ stat["maximum"] }}</td>
                <td>{{ stat["Q1"] }}</td>
                <td>{{ stat["median"] }}</td>
                <td>{{ stat["Q3"] }}</td>
                <td>{{ stat["mean"] }}</td>
                <td>{{ stat["standard_dev"] }}</td>
                <td>{{ stat["variance"] }}</td>
                <td>{{ stat["outlier_count"] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

<!-- Numerical Visualization UI -->
{% if numeric_histrogram and numeric_boxplot and numeric_pairplot %}
<div class="SubContainer">

    <!-- Histrogram -->
    <div class="graph-container" id="histogram-container">
        <h2>Histrogram</h2>
        {% for plot in numeric_histrogram %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Numerical Histrogram">
        {% endfor %}
    </div>

    <!-- Boxplot -->
    <div class="graph-container" id="boxplot-container">
        <h2>Boxplot</h2>
        {% for plot in numeric_boxplot %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Numerical Boxplot">
        {% endfor %}
    </div>

    <!-- Scatterplot -->
    <div class="graph-container" id="scatterplot-container">
        <h2>Pairplot</h2>
        {% for plot in numeric_pairplot %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Numerical Pairplot">
        {% endfor %}
    </div>

</div>
{% endif %}

<!-- Correlation  -->
{% if pearson_correlation %}
<div class="SubContainer">
    <h2>Pearson Correlation Matrix</h2>
    <table border="1" class="scrollable-table">
        <thead>
            <tr>
                <th></th>
                {% for col in pearson_correlation.keys() %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row, values in pearson_correlation.items() %}
            <tr>
                <th>{{ row }}</th>
                {% for col, value in values.items() %}
                <td>{{ value | round(4) }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<!-- Heatmap -->
{% if numeric_heatmap %}
<div class="SubContainer">
    <div class="graph-container" id="dendrogram-container">
        <h2>Heatmap</h2>
        {% for plot in numeric_heatmap %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Numerical Dendrograms">
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- Categorical Statistics UI -->
{% if categoric_statistics %}
<div class="SubContainer">
    <h2>Categorical Features Statistics</h2>
    <div class="Grid-Container">
        {% for var, stats in categoric_statistics.items() %}
        <div class="group">
            <h3>Feature: {{ var }}</h3>
            <table border="1" class="general-table">
                <tr>
                    <th>Value</th>
                    <th>Frequency</th>
                    <th>Percentage</th>
                </tr>
                {% for value_data in stats["values"] %}
                <tr>
                    <td>{{ value_data["value"] }}</td>
                    <td>{{ value_data["frequency"] }}</td>
                    <td>{{ value_data["percentage"] }}</td>
                </tr>
                {% endfor %}
            </table>
            <p>
            <h4><strong>Mode:</strong> {{ stats["mode"] }}</h4>
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- Categorical Visualization UI -->
{% if categoric_barchart and categoric_piechart %}
<div class="SubContainer">

    <!-- Bar Chart -->
    <div class="graph-container" id="barchart-container">
        <h2>Bar Chart</h2>
        {% for plot in categoric_barchart %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Categorical Barchart">
        {% endfor %}
    </div>

    <!-- Pie Chart -->
    <div class="graph-container" id="piechart-container">
        <h2>Pie Chart</h2>
        {% for plot in categoric_piechart %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Categorical Piechart">
        {% endfor %}
    </div>

</div>
{% endif %}

<!-- Chi-Square Test -->
{% if chi_square %}
<div class="SubContainer">
    <h2>Chi-Square Test P-Values</h2>
    <h4>p-value<=0.05: Significant association</h4>
            <h4>p-value>0.05: No significant association</h4>
            <table border="1" class="general-table">
                <thead>
                    <tr>
                        <th></th>
                        {% for col in chi_square.keys() %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row, values in chi_square.items() %}
                    <tr>
                        <th>{{ row }}</th>
                        {% for col, value in values.items() %}
                        <td>{{ value | round(4) }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>
{% endif %}

<!-- Text Statistics UI -->
{% if text_statistics %}
<div class="SubContainer">
    <h2>Textural Features Analysis</h2>
    <div class="Grid-Container">
        {% for var_name, stats in text_statistics.items() %}
        <div class="group">
            <h3>Feature: {{ var_name }}</h3>
            <table border="1" class="general-table">
                <tr>
                    <th>Statistic</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Minimum Length</td>
                    <td>{{ stats["min_sentence_length"] }}</td>
                </tr>
                <tr>
                    <td>Mean Length</td>
                    <td>{{ stats["average_sentence_length"] }}</td>
                </tr>
                <tr>
                    <td>Maximum Length</td>
                    <td>{{ stats["max_sentence_length"] }}</td>
                </tr>
                <tr>
                    <td>Unique Sentences</td>
                    <td>{{ stats["unique_sentence_count"] }}</td>
                </tr>
                <tr>
                    <th colspan="2" style="text-align: center;">Sentiment Result</th>
                </tr>
                <tr>
                    <td>Number of Positive Observations</td>
                    <td>{{ stats["positive_sentiment_count"] }}</td>
                </tr>
                <tr>
                    <td>Number of Negative Observations</td>
                    <td>{{ stats["negative_sentiment_count"] }}</td>
                </tr>
                <tr>
                    <td>Number of Neutral Observations</td>
                    <td>{{ stats["neutral_sentiment_count"] }}</td>
                </tr>
            </table>


            {% if var_name in unigrams %}
            <h4>Top 10 Most Common Words</h4>
            <table border="1" class="general-table">
                <tr>
                    <th>Word</th>
                    <th>Count</th>
                </tr>
                {% for word_data in unigrams[var_name] %}
                <tr>
                    <td>{{ word_data["word"] }}</td>
                    <td>{{ word_data["count"] }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}

            {% if var_name in bigrams %}
            <h4>Top 10 Most Common Two-word</h4>
            <table border="1" class="general-table">
                <tr>
                    <th>Two-word</th>
                    <th>Count</th>
                </tr>
                {% for bigram_data in bigrams[var_name] %}
                <tr>
                    <td>{{ bigram_data["bigram"] }}</td>
                    <td>{{ bigram_data["count"] }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}

            {% if var_name in trigrams %}
            <h4>Top 10 Most Common Three-word</h4>
            <table border="1" class="general-table">
                <tr>
                    <th>Three-word</th>
                    <th>Count</th>
                </tr>
                {% for trigram_data in trigrams[var_name] %}
                <tr>
                    <td>{{ trigram_data["trigram"] }}</td>
                    <td>{{ trigram_data["count"] }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- Text Visualization UI -->
{% if text_wordcloud and unigram_barchart and bigram_barchart and trigram_barchart %}
<div class="SubContainer">

    <!-- WordCloud -->
    <div class="graph-container" id="wordcloud-container">
        <h2>WordCloud</h2>
        {% for plot in text_wordcloud %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Text WordCloud">
        {% endfor %}
    </div>

    <!-- Unigram Bar Chart -->
    <div class="graph-container" id="textbarchart-container">
        <h2>Bar Chart</h2>
        {% for plot in unigram_barchart %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Text Barchart">
        {% endfor %}

        <!-- Bigram Bar Chart -->
        {% for plot in bigram_barchart %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Text Bigram Barchart">
        {% endfor %}


        <!-- Trigram Bar Chart -->
        {% for plot in trigram_barchart %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Text Trigram Barchart">
        {% endfor %}
    </div>

</div>
{% endif %}

<!-- Summary UI-->
<div class="Summary-Container">
    <h2>Data Summary</h2>
    <div class="content-container">
        {% if summary %}
        <p>This dataset has <strong>{{ summary.dataset_overview.num_rows }}</strong> observations and
            <strong>{{ summary.dataset_overview.num_cols }}</strong> features.
        </p>

        {% if summary.missing_values %}
        <p>This dataset contains <strong>{{ summary.missing_values }}</strong> <span class="alert-text">missing
                values</span>.</p>
        {% else %}
        <p>This dataset has <strong>no</strong> <span class="alert-text">missing values</span>.</p>
        {% endif %}

        {% if summary.extreme_features %}
        <p>This dataset has <span class="alert-text">extreme values</span> in <span class="feature-name">{{
                summary.extreme_features | join(", ") }}</span>.</p>
        {% else %}
        <p>This dataset has <strong>no</strong> <span class="alert-text">extreme values</span>.</p>
        {% endif %}

        {# ================= NUMERIC FEATURES ================= #}
        {% if feature_groups.numeric %}
        {% if summary.skewed_features %}
        <p><span class="feature-name">{{ summary.skewed_features | join(", ") }}</span> are <span
                class="alert-text">highly skewed</span>.</p>
        {% endif %}

        {% if summary.uniform_features %}
        <p><span class="feature-name">{{ summary.uniform_features | join(", ") }}</span> are almost <span
                class="alert-text">uniform</span>.</p>
        {% endif %}

        {% if summary.correlation %}
        {% for item in summary.correlation %}
        <p><span class="feature-name">{{ item.feature_1 }}</span> and <span class="feature-name">{{ item.feature_2
                }}</span> have <span class="alert-text">{{ item.direction }} correlation</span>.</p>
        {% endfor %}
        {% else %}
        <p>This dataset has <strong>no</strong> <span class="alert-text">highly correlated features</span>.</p>
        {% endif %}
        {% endif %}

        {# ================= CATEGORICAL FEATURES ================= #}
        {% if feature_groups.categorical %}
        {% if summary.imbalanced_features %}
        <p><span class="feature-name">{{ summary.imbalanced_features | join(", ") }}</span> are <span
                class="alert-text">highly imbalanced</span>.</p>
        {% endif %}

        {% if summary.significant_association %}
        <p><span class="feature-name">{{ summary.significant_association | join(", ") }}</span> have <span
                class="alert-text">significant associations</span>.</p>
        {% endif %}
        {% endif %}

        {# ================= TEXT FEATURES ================= #}
        {% if feature_groups.text %}
        {% if summary.sentiment_distribution %}
        {% for col, sentiment in summary.sentiment_distribution.items() %}
        <p><span class="feature-name">{{ col }}</span> contains <strong>{{ sentiment.positive }}</strong> <span
                class="alert-text">positive observations</span>,
            <strong>{{ sentiment.negative }}</strong> <span class="alert-text">negative observations</span>,
            and <strong>{{ sentiment.neutral }}</strong> <span class="alert-text">neutral observations</span>.
        </p>
        {% endfor %}
        {% endif %}

        {% if summary.unigram %}
        {% for col, words in summary.unigram.items() %}
        <p>Popular words in <span class="feature-name">{{ col }}</span> are: <span class="alert-text">{{ words | join(",
                ") }}</span>.</p>
        {% endfor %}
        {% endif %}

        {% if summary.bigram %}
        {% for col, phrases in summary.bigram.items() %}
        <p>Popular two-word phrases in <span class="feature-name">{{ col }}</span> are: <span class="alert-text">{{
                phrases | join(", ") }}</span>.</p>
        {% endfor %}
        {% endif %}

        {% if summary.trigram %}
        {% for col, phrases in summary.trigram.items() %}
        <p>Popular three-word phrases in <span class="feature-name">{{ col }}</span> are: <span class="alert-text">{{
                phrases | join(", ") }}</span>.</p>
        {% endfor %}
        {% endif %}

        {% if summary.topic_analysis %}
        {% for feature, topic in summary.topic_analysis.items() %}
        {% if topic %}
        <p>The topic discovered in <span class="feature-name">{{ feature }}</span> is <span class="alert-text">{{
                topic.words }}</span>.</p>
        {% else %}
        <p><strong>No</strong> meaningful topic found in <span class="feature-name">{{ feature }}</span>.</p>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}