{% extends "base.html" %}

{% block title %}Visualizations{% endblock %}

{% block style %}
<style>
    .visual-container {
        background-color: #393939;
        padding: 20px;
        border-radius: 20px;
        color: #F4F4F4;
        margin-bottom: 20px;
    }

    .graph-container {
        position: relative;
        text-align: center;
        margin: 10px 0;
    }

    .graph-container img {
        max-width: 100%;
        border-radius: 10px;
        padding: 10px;
    }

    .nav-btn {
        background-color: #555;
        color: white;
        border: none;
        padding: 5px 10px;
        margin: 5px;
        cursor: pointer;
        border-radius: 5px;
    }

    .nav-btn:hover {
        background-color: #777;
    }

    .summary-container {
        background-color: #393939;
        padding: 20px;
        border-radius: 20px;
        color: #F4F4F4;
        margin-bottom: 20px;
    }

    .content-container {
        overflow-wrap: break-word;
        overflow-y: auto;
    }
</style>
{% endblock %}

{% block content %}
<!-- Bar Chart Missing Value Distribution -->
<div class="visual-container">
    {% if missing_barchart %}
    <h2>Missing Value Bar Chart</h2>
    <div class="graph-container" id="missing-value-container">
        {% for plot in missing_barchart %}
        <img src="{{ url_for('static', filename='images/' ~ plot ) }}" alt="Missing Value Distribution">
        {% endfor %}
    </div>
    {% endif %}
</div>

<!-- Numerical Visualization UI -->
<div class="visual-container">
    <h2>Numerical Visualizations</h2>

    <!-- Histrogram -->
    {% if numeric_hist %}
    <div class="graph-container" id="histogram-container">
        <h2>Histrogram</h2>
        {% for plot in numeric_hist %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Numerical Histrogram">
        {% endfor %}
    </div>
    {% endif %}

    <!-- Boxplot -->
    {% if numeric_box %}
    <div class="graph-container" id="boxplot-container">
        <h2>Boxplot</h2>
        {% for plot in numeric_box %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Numerical Boxplot">
        {% endfor %}
    </div>
    {% endif %}

    <!-- Scatterplot -->
    {% if numeric_scat %}
    <div class="graph-container" id="scatterplot-container">
        <h2>Scatterplot</h2>
        {% for plot in numeric_scat %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Numerical Scatterplot">
        {% endfor %}
    </div>
    {% endif %}

    <!-- Heatmap -->
    {% if numeric_dendrogram %}
    <div class="graph-container" id="dendrogram-container">
        <h2>Heatmap</h2>
        {% for plot in numeric_dendrogram %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Numerical Dendrograms">
        {% endfor %}
    </div>
    {% endif %}

</div>

<!-- Categorical Visualization UI -->
<div class="visual-container">
    <h2>Categorical Visualizations</h2>

    <!-- Bar Chart -->
    {% if categorical_barchart %}
    <div class="graph-container" id="barchart-container">
        <h2>Bar Chart</h2>
        {% for plot in categorical_barchart %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Categorical Barchart">
        {% endfor %}
    </div>
    {% endif %}

    <!-- Pie Chart -->
    {% if categorical_piechart %}
    <div class="graph-container" id="piechart-container">
        <h2>Pie Chart</h2>
        {% for plot in categorical_piechart %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Categorical Piechart">
        {% endfor %}
    </div>
    {% endif %}

</div>

<!-- Text Visualization UI -->
<div class="visual-container">
    <h2>Text Visualizations</h2>

    <!-- WordCloud -->
    {% if textural_wordcloud %}
    <div class="graph-container" id="wordcloud-container">
        <h2>WordCloud</h2>
        {% for plot in textural_wordcloud %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Text WordCloud">
        {% endfor %}
    </div>
    {% endif %}

    <!-- Unigram Bar Chart -->
    {% if unigram_barchart %}
    <div class="graph-container" id="textbarchart-container">
        <h2>Bar Chart</h2>
        {% for plot in unigram_barchart %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Text Barchart">
        {% endfor %}
    </div>
    {% endif %}

    <!-- Bigram Bar Chart -->
    {% if bigram_barchart %}
    <div class="graph-container" id="bigrambarchart-container">
        {% for plot in bigram_barchart %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Text Bigram Barchart">
        {% endfor %}
    </div>
    {% endif %}

    <!-- Trigram Bar Chart -->
    {% if trigram_barchart %}
    <div class="graph-container" id="trigrambarchart-container">
        {% for plot in trigram_barchart %}
        <img src="{{ url_for('static', filename='images/' ~ plot) }}" alt="Text Trigram Barchart">
        {% endfor %}
    </div>
    {% endif %}

</div>

<!-- ChatGPT Summary UI-->
<div class="summary-container">
    <h2>Dataset Quality Summary</h2>
    <div class="content-container">
        {% if dataset_summary %}
        <pre>{{ dataset_summary }}</pre>
        {% else %}
        <p>No summary available.</p>
        {% endif %}
    </div>
</div>

{% endblock %}